/*Setting up global css properties*/
body{
	font-size:14px;
}
h1,h2,h3,h4,h5,h6,li,ul,p{
	padding:0px;
	margin:0px;
}
h1{
	font-size:2em;
}
h2{
	font-size:1.8em;
}
h3{
	font-size:1.6em;
}
app-header{
	position:fixed;
	top:0px;
	left:0px;
	z-index:9999;
	width:100%;
}
app-footer{
	position:fixed;
	height:30px;
	top: calc( 100% - 30px);
	width:100%;
	background-color:#B2DFDB;
	color:#222;
}